#include "Secrets/Development-secrets.xcconfig"

// CHANGEME
ENVIRONMENT_APP_NAME = App-Dev
ENVIRONMENT_BUNDLE_IDENTIFIER = dk.eazyit.app.development
ENVIRONMENT_CONFIGURATION = development

// CHANGEME
ENVIRONMENT_BACKEND_URL =  https:/$()/template-app-backend-fc1c4e09a4f3.herokuapp.com/api/
//ENVIRONMENT_BACKEND_URL =  http:/$()/localhost:8080/api
//ENVIRONMENT_BACKEND_URL =  http:/$()/tsh.local:8080/api
//ENVIRONMENT_BACKEND_URL =  http:/$()/192.168.1.30:8080/api

ENVIRONMENT_OPEN_ID_ISSUER_URL =https:/$()/pp.netseidbroker.dk/op
